@model Book
@{
    Layout = null;
    ViewData["Title"] = "Book Check In";

    var totalDays = (Model.CheckedOutUser.CheckedOutTime - Model.CheckedOutUser.ReturnTime).TotalDays;
    var timeoutFee = totalDays > 15 ? totalDays * 5 : 0;
}


<div class="text-center">
    <div class="row text-left books">
        <div class="col-sm-8">
            <div class="card mb-4 rounded-3 shadow-sm book-block">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5"><b>Name</b></div>
                        <div class="col-sm-7">@Model.CheckedOutUser.Name</div>
                        <div class="dot-line"></div>
                        <div class="col-sm-5"><b>Mobile Phone Number</b></div>
                        <div class="col-sm-7">@Model.CheckedOutUser.MobilePhoneNumber</div>
                        <div class="dot-line"></div>
                        <div class="col-sm-5"><b>National Id</b></div>
                        <div class="col-sm-7">@Model.CheckedOutUser.NationalId</div>
                        <div class="dot-line"></div>
                        <div class="col-sm-5"><b>Check Out Time</b></div>
                        <div class="col-sm-7">@Model.CheckedOutUser.CheckedOutTime</div>
                        <div class="dot-line"></div>
                        <div class="col-sm-5"><b>Publish Year</b></div>
                        <div class="col-sm-7">@Model.CheckedOutUser.ReturnTime</div>
                        <div class="dot-line"></div>
                        <div class="col-sm-5"><b>Timeout Fee</b></div>
                        <div class="col-sm-7">@(timeoutFee)$</div>
                        <div class="col-12">
                            @using (Html.BeginForm(FormMethod.Post, new { @id = "checkInform" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="CheckIn" name="action" />
                                <button type="submit" class="btn btn-warning float-right">Check In</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mb-4 rounded-3 shadow-sm book-block">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12"><b>Title</b></div>
                        <div class="col-12">@Model.Title</div>
                        <div class="dot-line"></div>
                        <div class="col-12"><b>ISBN</b></div>
                        <div class="col-12">@Model.ISBN</div>
                        <div class="dot-line"></div>
                        <div class="col-12"><b>Publish Year</b></div>
                        <div class="col-12">@Model.PublishYear</div>
                        <div class="dot-line"></div>
                        <div class="col-12"><b>Cover Price</b></div>
                        <div class="col-12">@(Model.CoverPrice)$</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#checkInform").submit(function (event) {
            event.preventDefault();
            $.post($(this).attr('action'), { "__RequestVerificationToken": $("input:hidden[name=__RequestVerificationToken]").val(), "action": "CheckIn" }, function () {
                window.location.reload();
            });
        });
    });
</script>